<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap-4.1.1.min.css">
    <title>Junk</title>
</head>
<body>
<main class="container-fluid">
    <div th:fragment="alerts">
        <ul class="alert alert-success" th:if="${successMessage}">
            <li th:text="${successMessage}"></li>
        </ul>
        <ul class="alert alert-danger" th:if="${errorMessage}">
            <li th:text="${errorMessage}"></li>
        </ul>
    </div>
</main>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper-1.14.3.min.js"></script>
<script src="js/bootstrap-4.1.1.min.js"></script>
</body>
</html>