<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Junk</title>
    <style>
        .fieldError {
            background-color: pink;
        }
    </style>
</head>
<body>
<h1>Account Edit</h1>
<a th:href="@{/}">Dashboard</a>
<ul style="color: green" th:if="${successMessage}">
    <li th:text="${successMessage}"></li>
</ul>
<ul style="color: red" th:if="${errorMessage}">
    <li th:text="${errorMessage}"></li>
</ul>
<form th:action="@{/acctEdit}" th:object="${acctForm}" method="post">
    <ul style="color: red" th:if="${#fields.hasAnyErrors()}">
        <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
    </ul>
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{version}">
    <input type="hidden" th:field="*{oldAcctNbr}">
    <input type="hidden" th:field="*{oldEffDate}">
    <table border="1">
        <tr>
        <tr th:if="*{id}">
            <th>Id</th>
            <td th:text="*{id}"></td>
        </tr>
        <tr>
            <th>Name</th>
            <td><input th:field="*{name}" th:errorclass="fieldError"></td>
        </tr>
        <tr>
            <th>Begin Date (M/d/yyyy)</th>
            <td><input th:field="*{beginDate}" th:errorclass="fieldError"></td>
        </tr>
        <tr>
            <th>Begin Balance</th>
            <td><input th:field="*{beginBalance}" th:errorclass="fieldError"></td>
        </tr>
        <tr>
            <th>Organization</th>
            <td><input th:field="*{organization}" th:errorclass="fieldError"></td>
        </tr>
        <tr>
            <th>FID</th>
            <td><input th:field="*{fid}" th:errorclass="fieldError"></td>
        </tr>
        <tr>
            <th>Bank Id</th>
            <td><input th:field="*{bankId}" th:errorclass="fieldError"></td>
        </tr>
        <tr>
            <th>Type</th>
            <td><select th:field="*{type}" th:errorclass="fieldError">
                <option value="">Please select ...</option>
                <option th:each="acctType:${T(norman.junk.AcctType).values()}" th:value="${acctType}"
                        th:text="${acctType}"></option>
            </select></td>
        </tr>
        <tr>
            <th>Acct Nbr</th>
            <td><input th:field="*{acctNbr}" th:errorclass="fieldError"></td>
        </tr>
        <tr th:if="*{id}">
            <th>Eff Date (M/d/yyyy)</th>
            <td><input th:field="*{effDate}" th:errorclass="fieldError"></td>
        </tr>
    </table>
    <button>Save</button>
</form>
</body>
</html>