<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<main class="container">
    <h1>Account</h1>
    <div th:replace="fragments/alerts::alerts"></div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${acct.name}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Begin Date</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${#dates.format(acct.beginDate,'M/d/yyyy')}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Begin Balance</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext"
               th:text="${#numbers.formatDecimal(acct.beginBalance,1,'DEFAULT',2,'DEFAULT')}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Organization</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${acct.organization}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">FID</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${acct.fid}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Bank Id</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${acct.bankId}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Type</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${acct.type}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Credit Limit</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${acct.creditLimit}"></p>
        </div>
    </div>
    <div class="form-group row" th:if="${currentAcctNbr}">
        <label class="col-sm-3 col-form-label">Number</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${currentAcctNbr.number}"></p>
        </div>
    </div>
    <div class="form-group row" th:if="${currentAcctNbr}">
        <label class="col-sm-3 col-form-label">Eff Date</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${#dates.format(currentAcctNbr.effDate,'M/d/yyyy')}"></p>
        </div>
    </div>
    <a class="btn btn-primary" th:href="@{/acctEdit(acctId=${acct.id})}">Edit</a>
    <a class="btn btn-secondary" th:href="@{/acctReconcile(acctId=${acct.id})}">Reconcile</a>
    <table class="table table-sm table-striped">
        <tr>
            <th>Number</th>
            <th>Eff Date</th>
        </tr>
        <tr th:each="acctNbr:${acct.acctNbrs}">
            <td th:text="${acctNbr.number}"></td>
            <td th:text="${#dates.format(acctNbr.effDate,'M/d/yyyy')}"></td>
        </tr>
    </table>
    <table class="table table-sm table-striped">
        <tr>
            <th>Type</th>
            <th>Post Date</th>
            <th>Check Number</th>
            <th>Name</th>
            <th>Reconciled</th>
            <th>Amount</th>
            <th>Balance</th>
            <th>Category</th>
        </tr>
        <tr th:each="tranBalance:${tranBalances}">
            <td><a th:href="@{/tran(tranId=${tranBalance.id})}" th:text="${tranBalance.type}"></a></td>
            <td th:text="${#dates.format(tranBalance.postDate,'M/d/yyyy')}"></td>
            <td th:text="${tranBalance.checkNumber}"></td>
            <td th:text="${tranBalance.name}"></td>
            <td><span th:if="${tranBalance.reconciled}" class="oi oi-task"></span></td>
            <td th:text="${#numbers.formatDecimal(tranBalance.amount,1,'DEFAULT',2,'DEFAULT')}"></td>
            <td th:text="${#numbers.formatDecimal(tranBalance.balance,1,'DEFAULT',2,'DEFAULT')}"></td>
            <td th:text="${tranBalance.categoryName}"></td>
        </tr>
    </table>
</main>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>