<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<main class="container">
    <h1>Account Reconcile</h1>
    <div th:replace="fragments/alerts::alerts"></div>
    <form th:action="@{/acctReconcile}" th:object="${acctReconcileForm}" method="post">
        <ul class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
            <li th:each="err:${#fields.allErrors()}" th:text="${err}"></li>
        </ul>
        <input type="hidden" th:field="*{acctId}"/>
        <input type="hidden" th:field="*{acctName}"/>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Acct</label>
            <div class="col-sm-9">
                <p class="form-control-plaintext" th:text="*{acctName}"></p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Reconcile Date (M/d/yyyy)</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{reconcileDate}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Reconcile Amount</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{reconcileAmount}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Reconcile</button>
    </form>
</main>
<footer th:replace="fragments/footer::footer"></footer>
<script>
    $("#reconcileDate").datepicker({uiLibrary: "bootstrap4"});
</script>
</body>
</html>