<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap-4.1.1.min.css">
    <title>Junk</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<main class="container-fluid">
    <h1>Account List</h1>
    <div th:replace="fragments/alerts :: alerts"></div>
    <table class="table table-sm table-striped">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Balance</th>
            <th>Last Tran Date</th>
        </tr>
        <tr th:each="acctSummary:${acctSummaries}">
            <td><a th:href="@{/acct(acctId=${acctSummary.id})}" th:text="${acctSummary.name}"></a></td>
            <td th:text="${acctSummary.type}"></td>
            <td th:text="${#numbers.formatDecimal(acctSummary.balance,1,'DEFAULT',2,'DEFAULT')}"></td>
            <td th:text="${#dates.format(acctSummary.lastTranDate,'M/d/yyyy')}"></td>
        </tr>
    </table>
</main>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper-1.14.3.min.js"></script>
<script src="js/bootstrap-4.1.1.min.js"></script>
</body>
</html>