<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<main class="container">
    <h1>Category List</h1>
    <div th:replace="fragments/alerts::alerts"></div>
    <table class="table table-sm table-striped">
        <tr>
            <th>Name</th>
        </tr>
        <tr th:each="category:${categories}">
            <td><a th:href="@{/category(categoryId=${category.id})}" th:text="${category.name}"></a></td>
        </tr>
    </table>
</main>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>