<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<main class="container">
    <h1>Category List</h1>
    <div th:replace="fragments/alerts::alerts"></div>
    <table class="table table-sm table-striped">
        <tr>
            <th>Name</th>
        </tr>
        <tr th:each="category:${categories}">
            <td><a th:href="@{/category(categoryId=${category.id})}" th:text="${category.name}"></a></td>
        </tr>
    </table>
</main>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper-1.14.3.min.js"></script>
<script src="js/bootstrap-4.1.1.min.js"></script>
</body>
</html>