<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<main class="container">
    <h1>Data File List</h1>
    <div th:replace="fragments/alerts::alerts"></div>
    <table class="table table-sm table-striped">
        <tr>
            <th>Original Filename</th>
            <th>Content Type</th>
            <th>Size</th>
            <th>Upload Timestamp</th>
            <th>Status</th>
        </tr>
        <tr th:each="dataFile:${dataFiles}">
            <td><a th:href="@{/dataFile(dataFileId=${dataFile.id})}" th:text="${dataFile.originalFilename}"></a></td>
            <td th:text="${dataFile.contentType}"></td>
            <td th:text="${#numbers.formatInteger(dataFile.size,1,'DEFAULT')}"></td>
            <td th:text="${#dates.format(dataFile.uploadTimestamp,'M/d/yyyy H:m:s')}"></td>
            <td th:text="${dataFile.status}"></td>
    </table>
</main>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>