<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<main class="container-fluid">
    <div th:replace="fragments/alerts::alerts"></div>
    <div class="row">
        <div class="col-md-5">
            <table class="table table-sm table-striped">
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Credit Limit</th>
                    <th>Balance</th>
                    <th>Last Tran</th>
                </tr>
                <tr th:each="acctSummary:${acctSummaries}">
                    <td><a th:href="@{/acct(acctId=${acctSummary.id})}" th:text="${acctSummary.name}"></a></td>
                    <td th:text="${acctSummary.type}"></td>
                    <td th:text="${#numbers.formatDecimal(acctSummary.creditLimit,1,'DEFAULT',2,'DEFAULT')}"></td>
                    <td th:text="${#numbers.formatDecimal(acctSummary.balance,1,'DEFAULT',2,'DEFAULT')}"></td>
                    <td th:text="${#dates.format(acctSummary.lastTranDate,'M/d/yyyy')}"></td>
                </tr>
            </table>
            <form class="form-inline" th:action="@{/dataFileUpload}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="multipartFile">File to upload</label>
                    <input type="file" class="form-control-file" id="multipartFile" name="multipartFile"/></td>
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
        <div class="col-md-7">
            <table class="table table-sm table-striped">
                <tr>
                    <th>Payee</th>
                    <th>Due Date</th>
                    <th>Amount Due</th>
                    <th>Minimum Payment</th>
                    <th>Last Paid Date</th>
                    <th>Balance Due</th>
                </tr>
                <tr th:each="payableDue:${payableDues}" th:class="${payableDue.styleClass}">
                    <td><a th:href="@{/payable(payableId=${payableDue.id})}"
                           th:text="${payableDue.payeeDisplayName}"></a></td>
                    <td th:text="${#dates.format(payableDue.dueDate,'M/d/yyyy')}"></td>
                    <td th:text="${#numbers.formatDecimal(payableDue.amountDue,1,'DEFAULT',2,'DEFAULT')}"></td>
                    <td th:text="${#numbers.formatDecimal(payableDue.minimumPayment,1,'DEFAULT',2,'DEFAULT')}"></td>
                    <td th:text="${#dates.format(payableDue.lastPaidDate,'M/d/yyyy')}"></td>
                    <td th:text="${#numbers.formatDecimal(payableDue.balanceDue,1,'DEFAULT',2,'DEFAULT')}"></td>
                </tr>
            </table>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>