<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Junk</title>
</head>
<body>
<h1>Dashboard</h1>
<a th:href="@{/acctEdit}">Add Acct</a>
<ul style="color: green" th:if="${successMessage}">
    <li th:text="${successMessage}"></li>
</ul>
<ul style="color: red" th:if="${errorMessage}">
    <li th:text="${errorMessage}"></li>
</ul>
<table border="2">
    <tr>
        <td>
            <table border="1">
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Balance</th>
                    <th>Last Tran Date</th>
                </tr>
                <tr th:each="acctSummary:${acctSummaries}">
                    <td><a th:href="@{/acct(acctId=${acctSummary.id})}" th:text="${acctSummary.name}"></a></td>
                    <td th:text="${acctSummary.type}"></td>
                    <td th:text="${#numbers.formatDecimal(acctSummary.balance,1,'DEFAULT',2,'DEFAULT')}"></td>
                    <td th:text="${#dates.format(acctSummary.lastTranDate,'M/d/yyyy')}"></td>
                </tr>
            </table>
        </td>
        <td>
            <form th:action="@{/dataFileUpload}" method="post" enctype="multipart/form-data">
                <table border="1">
                    <tr>
                        <td>File to upload:</td>
                        <td><input type="file" name="multipartFile"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button>Upload</button>
                        </td>
                    </tr>
                </table>
            </form>
            <table border="1">
                <tr>
                    <th>Id</th>
                    <th>Original Filename</th>
                    <th>Content Type</th>
                    <th>Size</th>
                    <th>Upload Timestamp</th>
                    <th>Status</th>
                </tr>
                <tr th:each="dataFile:${dataFiles}">
                    <td><a th:href="@{/dataFile(dataFileId=${dataFile.id})}" th:text="${dataFile.id}"></a></td>
                    <td th:text="${dataFile.originalFilename}"></td>
                    <td th:text="${dataFile.contentType}"></td>
                    <td th:text="${#numbers.formatInteger(dataFile.size,1,'DEFAULT')}"></td>
                    <td th:text="${#dates.format(dataFile.uploadTimestamp,'M/d/yyyy H:m:s')}"></td>
                    <td th:text="${dataFile.status}"></td>
            </table>
        </td>
    </tr>
</table>
</body>
</html>