<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<main class="container">
    <h1>Category Pattern List</h1>
    <div th:replace="fragments/alerts::alerts"></div>
    <form th:action="@{/patternEdit}" th:object="${patternForm}" method="post">
        <ul class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
            <li th:each="err:${#fields.allErrors()}" th:text="${err}"></li>
        </ul>
        <table class="table table-sm table-striped">
            <tr>
                <th>Actions</th>
                <th>Seq</th>
                <th>Tran Name</th>
                <th>Category</th>
            </tr>
            <tr th:each="patternRow,iterStat:*{patternRows}">
                <td>
                    <input type="hidden" th:field="*{patternRows[__${iterStat.index}__].id}"/>
                    <input type="hidden" th:field="*{patternRows[__${iterStat.index}__].version}"/>
                    <a href="#" title="Move to top" th:if="${not iterStat.first}"><span
                            class="oi oi-data-transfer-upload"></span></a>
                    <a href="#" title="Move up" th:if="${not iterStat.first}">U</a>
                    <a href="#" title="Move down" th:if="${not iterStat.last}">D</a>
                    <a href="#" title="Move to bottom" th:if="${not iterStat.last}">B</a>
                    <a href="#" title="Remove">R</a>
                </td>
                <td th:text="${iterStat.count}"></td>
                <td><input type="text" class="form-control" th:field="*{patternRows[__${iterStat.index}__].tranName}"
                           th:errorclass="is-invalid"/></td>
                <td><select class="form-control" th:field="*{patternRows[__${iterStat.index}__].categoryId}"
                            th:errorclass="is-invalid">
                    <option value="">Please select ...</option>
                    <option th:each="category:${allCategories}" th:value="${category.id}"
                            th:text="${category.name}"></option>
                </select></td>
            </tr>
        </table>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</main>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper-1.14.3.min.js"></script>
<script src="js/bootstrap-4.1.1.min.js"></script>
</body>
</html>