<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap-4.1.1.min.css">
    <title>Junk</title>
</head>
<body>
<header th:replace="fragments/header::header"></header>
<main class="container">
    <h1>Category Pattern List</h1>
    <div th:replace="fragments/alerts::alerts"></div>
    <form th:action="@{/patternEdit}" th:object="${patternForm}" method="post">
        <table class="table table-sm table-striped">
            <tr>
                <th>Actions</th>
                <th>Seq</th>
                <th>Tran Name</th>
                <th>Category</th>
            </tr>
            <tr th:each="patternRow,iterStat:*{patternRows}">
                <td>
                    <input type="hidden" th:field="*{patternRows[__${iterStat.index}__].id}"/>
                    <input type="hidden" th:field="*{patternRows[__${iterStat.index}__].version}"/>
                    <a href="#" title="Move to top">T</a>
                    <a href="#" title="Move up">U</a>
                    <a href="#" title="Move down">D</a>
                    <a href="#" title="Move to bottom">B</a>
                    <a href="#" title="Remove">R</a>
                </td>
                <td th:text="${iterStat.count}"></td>
                <td><input type="text" class="form-control" th:field="*{patternRows[__${iterStat.index}__].tranName}"
                           th:errorclass="is-invalid"/></td>
                <td><select class="form-control" th:field="*{patternRows[__${iterStat.index}__].categoryId}"
                            th:errorclass="is-invalid">
                    <option value="">Please select ...</option>
                    <option th:each="category:${allCategories}" th:value="${category.id}"
                            th:text="${category.name}"></option>
                </select></td>
            </tr>
    </form>
</main>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper-1.14.3.min.js"></script>
<script src="js/bootstrap-4.1.1.min.js"></script>
</body>
</html>