<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<main class="container">
    <h1>Payable Edit</h1>
    <div th:replace="fragments/alerts::alerts"></div>
    <form th:action="@{/payableEdit}" th:object="${payableForm}" method="post">
        <ul class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
            <li th:each="err:${#fields.allErrors()}" th:text="${err}"></li>
        </ul>
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{version}"/>
        <input type="hidden" th:field="*{payeeId}"/>
        <input type="hidden" th:field="*{payeeDisplayName}"/>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Payee</label>
            <div class="col-sm-9">
                <p class="form-control-plaintext" th:text="*{payeeDisplayName}"></p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Payment Due Date (M/d/yyyy)</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{paymentDueDate}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">New Balance Total</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{newBalanceTotal}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Previous Balance</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{previousBalance}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Payments And Other Credits</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{paymentsAndOtherCredits}"
                       th:errorclass="is-invalid"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Purchases And Adjustments</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{purchasesAndAdjustments}"
                       th:errorclass="is-invalid"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Fees Charged</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{feesCharged}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Interest Charged</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{interestCharged}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Statement Closing Date (M/d/yyyy)</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{statementClosingDate}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Minimum Payment Due</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{minimumPaymentDue}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</main>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>