<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap-4.1.1.min.css">
    <title>Junk</title>
</head>
<body>
<header th:replace="fragments/header::header"></header>
<main class="container-fluid">
    <h1>Payable List</h1>
    <div th:replace="fragments/alerts::alerts"></div>
    <table class="table table-sm table-striped">
        <tr>
            <th>Payee</th>
            <th>Payment Due Date</th>
            <th>New Balance Total</th>
            <th>Minimum Payment Due</th>
            <th>Balance</th>
        </tr>
        <tr th:each="payableBalance:${payableBalances}">
            <td><a th:href="@{/payable(payableId=${payableBalance.id})}"
                   th:text="${payableBalance.payeeDisplayName}"></a></td>
            <td th:text="${#dates.format(payableBalance.paymentDueDate,'M/d/yyyy')}"></td>
            <td th:text="${#numbers.formatDecimal(payableBalance.newBalanceTotal,1,'DEFAULT',2,'DEFAULT')}"></td>
            <td th:text="${#numbers.formatDecimal(payableBalance.minimumPaymentDue,1,'DEFAULT',2,'DEFAULT')}"></td>
            <td th:text="${#numbers.formatDecimal(payableBalance.balance,1,'DEFAULT',2,'DEFAULT')}"></td>
        </tr>
    </table>
</main>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper-1.14.3.min.js"></script>
<script src="js/bootstrap-4.1.1.min.js"></script>
</body>
</html>