<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<main class="container">
    <h1>Payable List</h1>
    <div th:replace="fragments/alerts::alerts"></div>
    <table class="table table-sm table-striped">
        <tr>
            <th>Payee</th>
            <th>Payment Due Date</th>
            <th>New Balance Total</th>
            <th>Minimum Payment Due</th>
            <th>Previous Balance</th>
            <th>Payments And Other Credits</th>
            <th>Purchases And Adjustments</th>
            <th>Fees Charged</th>
            <th>Interest Charged</th>
            <th>Statement Closing Date</th>
        </tr>
        <tr th:each="payable:${payables}">
            <td><a th:href="@{/payable(payableId=${payable.id})}"
                   th:text="${(payable.payee.nickname != null)?payable.payee.nickname:payable.payee.name}"></a></td>
            <td th:text="${#dates.format(payable.paymentDueDate,'M/d/yyyy')}"></td>
            <td th:text="${#numbers.formatDecimal(payable.newBalanceTotal,1,'DEFAULT',2,'DEFAULT')}"></td>
            <td th:text="${#numbers.formatDecimal(payable.minimumPaymentDue,1,'DEFAULT',2,'DEFAULT')}"></td>
            <td th:text="${#numbers.formatDecimal(payable.previousBalance,1,'DEFAULT',2,'DEFAULT')}"></td>
            <td th:text="${#numbers.formatDecimal(payable.paymentsAndOtherCredits,1,'DEFAULT',2,'DEFAULT')}"></td>
            <td th:text="${#numbers.formatDecimal(payable.purchasesAndAdjustments,1,'DEFAULT',2,'DEFAULT')}"></td>
            <td th:text="${#numbers.formatDecimal(payable.feesCharged,1,'DEFAULT',2,'DEFAULT')}"></td>
            <td th:text="${#numbers.formatDecimal(payable.interestCharged,1,'DEFAULT',2,'DEFAULT')}"></td>
            <td th:text="${#dates.format(payable.statementClosingDate,'M/d/yyyy')}"></td>
        </tr>
    </table>
</main>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>