<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<main class="container">
    <h1>Payable Edit</h1>
    <div th:replace="fragments/alerts::alerts"></div>
    <form th:action="@{/payableEdit}" th:object="${payableForm}" method="post">
        <ul class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
            <li th:each="err:${#fields.allErrors()}" th:text="${err}"></li>
        </ul>
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{version}"/>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Payee</label>
            <div class="col-sm-9">
                <select class="form-control" th:field="*{payeeId}" th:errorclass="is-invalid">
                    <option value="">Please select ...</option>
                    <option th:each="payee:${allPayees}" th:value="${payee.id}"
                            th:text="${(payee.nickname != null)?payee.nickname:payee.name}"></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Due Date (M/d/yyyy)</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{dueDate}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Amount Due</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{amountDue}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Previous Balance</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{previousBalance}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Previous Payments</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{previousPayments}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Statement Date (M/d/yyyy)</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{statementDate}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Minimum Payment</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{minimumPayment}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</main>
<footer th:replace="fragments/footer::footer"></footer>
<script>
    $("#dueDate").datepicker({uiLibrary: "bootstrap4"});
    $("#statementDate").datepicker({uiLibrary: "bootstrap4"});
</script>
</body>
</html>