<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<main class="container">
    <h1>Payable List</h1>
    <div th:replace="fragments/alerts::alerts"></div>
    <table class="table table-sm table-striped">
        <tr>
            <th>Payee</th>
            <th>Due Date</th>
            <th>Amount Due</th>
            <th>Previous Balance</th>
            <th>Previous Payments</th>
            <th>Statement Date</th>
            <th>Minimum Payment</th>
        </tr>
        <tr th:each="payable:${payables}">
            <td><a th:href="@{/payable(payableId=${payable.id})}"
                   th:text="${(payable.payee.nickname != null)?payable.payee.nickname:payable.payee.name}"></a></td>
            <td th:text="${#dates.format(payable.dueDate,'M/d/yyyy')}"></td>
            <td th:text="${#numbers.formatDecimal(payable.amountDue,1,'DEFAULT',2,'DEFAULT')}"></td>
            <td th:text="${#numbers.formatDecimal(payable.previousBalance,1,'DEFAULT',2,'DEFAULT')}"></td>
            <td th:text="${#numbers.formatDecimal(payable.previousPayments,1,'DEFAULT',2,'DEFAULT')}"></td>
            <td th:text="${#dates.format(payable.statementDate,'M/d/yyyy')}"></td>
            <td th:text="${#numbers.formatDecimal(payable.minimumPayment,1,'DEFAULT',2,'DEFAULT')}"></td>
        </tr>
    </table>
</main>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>