<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<main class="container">
    <h1>Payable</h1>
    <div th:replace="fragments/alerts::alerts"></div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Payee</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext">
                <a th:href="@{/payee(payeeId=${payable.payee.id})}"
                   th:text="${(payable.payee.nickname != null)?payable.payee.nickname:payable.payee.name}"></a>
            </p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Due Date</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${#dates.format(payable.dueDate,'M/d/yyyy')}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Amount Due</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext"
               th:text="${#numbers.formatDecimal(payable.amountDue,1,'DEFAULT',2,'DEFAULT')}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Previous Balance</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext"
               th:text="${#numbers.formatDecimal(payable.previousBalance,1,'DEFAULT',2,'DEFAULT')}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Previous Payments</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext"
               th:text="${#numbers.formatDecimal(payable.previousPayments,1,'DEFAULT',2,'DEFAULT')}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Statement Date</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${#dates.format(payable.statementDate,'M/d/yyyy')}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Minimum Payment</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext"
               th:text="${#numbers.formatDecimal(payable.minimumPayment,1,'DEFAULT',2,'DEFAULT')}"></p>
        </div>
    </div>
    <a class="btn btn-primary" th:href="@{/payableEdit(payableId=${payable.id})}">Edit</a>
    <table class="table table-sm table-striped">
        <tr>
            <th>Paid Date</th>
            <th>Amount Paid</th>
            <th>Confirm Code</th>
            <th>Trans Number</th>
        </tr>
        <tr th:each="payment:${payable.payments}">
            <td><a th:href="@{/payment(paymentId=${payment.id})}"
                   th:text="${#dates.format(payment.paidDate,'M/d/yyyy')}"></a></td>
            <td th:text="${#numbers.formatDecimal(payment.amountPaid,1,'DEFAULT',2,'DEFAULT')}"></td>
            <td th:text="${payment.confirmCode}"></td>
            <td th:text="${payment.transNumber}"></td>
        </tr>
    </table>
    <a class="btn btn-secondary" th:href="@{/paymentEdit(payableId=${payable.id})}">Add Payment</a>
</main>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>
