<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<main class="container">
    <h1>Payment Edit</h1>
    <div th:replace="fragments/alerts::alerts"></div>
    <form th:action="@{/paymentEdit}" th:object="${paymentForm}" method="post">
        <ul class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
            <li th:each="err:${#fields.allErrors()}" th:text="${err}"></li>
        </ul>
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{version}"/>
        <input type="hidden" th:field="*{payableId}"/>
        <input type="hidden" th:field="*{payeeDisplayName}"/>
        <input type="hidden" th:field="*{payableDueDate}"/>
        <input type="hidden" th:field="*{payableAmountDue}"/>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Payee</label>
            <div class="col-sm-9">
                <p class="form-control-plaintext" th:text="*{payeeDisplayName}"></p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Payment Due Date</label>
            <div class="col-sm-9">
                <p class="form-control-plaintext" th:text="*{#dates.format(payableDueDate,'M/d/yyyy')}"></p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">New Balance Total</label>
            <div class="col-sm-9">
                <p class="form-control-plaintext"
                   th:text="*{#numbers.formatDecimal(payableAmountDue,1,'DEFAULT',2,'DEFAULT')}"></p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Paid Date (M/d/yyyy)</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{paidDate}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Amount Paid</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{amountPaid}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Confirm Code</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{confirmCode}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Trans Number</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{transNumber}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</main>
<footer th:replace="fragments/footer::footer"></footer>
<script>
    $("#paidDate").datepicker({uiLibrary: "bootstrap4"});
</script>
</body>
</html>