<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<main class="container">
    <h1>Transaction</h1>
    <div th:replace="fragments/alerts::alerts"></div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Acct</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext">
                <a th:href="@{/acct(acctId=${tran.acct.id})}" th:text="${tran.acct.name}"></a>
            </p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Category</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${tran.category==null?'':tran.category.name}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Type</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${tran.type}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Post Date</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${#dates.format(tran.postDate,'M/d/yyyy')}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">User Date</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${#dates.format(tran.userDate,'M/d/yyyy')}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Amount</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext"
               th:text="${#numbers.formatDecimal(tran.amount,1,'DEFAULT',2,'DEFAULT')}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">FIT Id</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${tran.fitId}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">SIC</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${tran.sic}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Check Number</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${tran.checkNumber}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Correct FIT Id</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${tran.correctFitId}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Correct Action</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${tran.correctAction}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${tran.name}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">OFX Category</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${tran.ofxCategory}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Memo</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${tran.memo}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Reconciled</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${tran.reconciled}"></p>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>